<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tacoma.uw.jasonli7.team12project">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/top"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/top"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.AddFeatureActivity"></activity>
        <activity android:name=".main.FeaturesActivity" />
        <activity android:name=".authenticate.PasswordResetActivity" />
        <activity android:name=".main.AddReviewActivity" />
        <activity android:name=".main.AddDeviceActivity" />
        <activity
            android:name=".main.ReviewListActivity"
            android:label="@string/title_review_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.ReviewDetailActivity"
            android:label="@string/title_review_detail"
            android:parentActivityName=".main.ReviewListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.tacoma.uw.jasonli7.team12project.main.ReviewListActivity" />
        </activity>
        <activity
            android:name=".main.DeviceListActivity"
            android:label="@string/title_device_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.DeviceDetailActivity"
            android:label="@string/title_device_detail"
            android:parentActivityName=".main.DeviceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.tacoma.uw.jasonli7.team12project.main.DeviceListActivity" />
        </activity>
        <activity android:name=".authenticate.RegisterActivity" />
        <activity android:name=".authenticate.SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>